#color,#copy-btn{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(238, 235, 91);
    border:none;
    margin: auto;
    font-size: 16px;
    position: absolute;
    top: 60%;
    left: 60%;
    width:130px;
    height:50px;
    transform: translate(-50%, -50%);
}
#copy-btn{
    left:40%;
}
#color:hover,#copy-btn:hover{
    background-color: rgb(247, 245, 173);
}
#d{
    padding:40px;
    font-family:'Courier New', Courier, monospace;
    font-size:15px;
    font-weight:bold;
    width:520px;
    height:30px;
    outline:none;
    border:none;
    background-color: rgb(226, 226, 226);
    color:rgb(241, 10, 145);
    
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#copy::selection{
    color:none;

}
body{
    background-color: red;
}