@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');

h1{
  position: absolute;
  font-family: 'Cambay', sans-serif;
  text-align: center;
  left:50%;
  transform: translate(-50%);
  font-size: 4em;
  color:rgb(43, 255, 0);
}
html {
    font-size: 10px;
    background: url('https://images.unsplash.com/photo-1526234364412-336aee70b06d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80') bottom center;
    background-size: 100%;
    
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .keys {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid rgb(247, 181, 142);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(248, 235, 161, 0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ecb385;
    box-shadow: 0 0 1rem #ffc600;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }
  
  
  @media only screen and (max-width: 600px) {
    body {
      background-color: rgb(230, 173, 221);
    }
    h1{
      color:rgb(255, 145, 0);
    }
  }