body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color:rgb(253, 10, 233);
    font-size: 19px;
    background: linear-gradient(90deg, rgb(243, 236, 172), rgb(112, 243, 232));

}
.box{
    position: relative;
    display: flex;
    flex-direction: column;
    color:rgb(255, 0, 191);
    margin: auto;
    background: rgba(255,255,255,0.7);
    width:330px;
    height:350px;
    border-radius : 3% ;
    text-align: center;
    
}

img{
    
    margin:10px auto;
    width:70px;
    height:auto;
}

p{
    text-align: center;
}

form{
    
    display: flex;
    justify-content: center;
    margin:5.5%;
    /* border:2px solid red; */
}
.heading{
    text-align: center;
}
input{
    margin:7px;
    padding:5px;
}

input[type="submit"]{
    background-color: rgb(247, 158, 158);
    border:1px solid red;
}


input[type="submit"]:hover{
    background-color: rgb(250, 135, 135);
    
}

#date,#city_name{
    display: block;
    width:100%;
}

#temp{
    margin-top:15px;
    font-size: 40px;
}

#region{
    margin-top:-20px;
}